extends base
block content
  .navigation
    input#navi-toggle.navigation__checkbox(type='checkbox')
    label.navigation__button(for='navi-toggle')
      span.navigation__icon &nbsp;
    .navigation__background &nbsp;
    nav.navigation__nav
      
      if user 
        ul.navigation__list

          li.navigation__item
            a.navigation__link#meri-photo(href='/me')
              span 
              img#photo-settings(src=`img/${user.photo}`)
          
          li.navigation__item
            a.navigation__link(href='/about-us')
              span 01
              | About Us
          li.navigation__item
            a.navigation__link(href='/csistaff')
              span 02
              | CSI staff
          li.navigation__item
            a.navigation__link(href='/MI')
              span 03
              | Members in charge
          li.navigation__item
            a.navigation__link(href='motivation')
              span 04
              | Motivation
          li.navigation__item
            a.navigation__link(href='/credits')
              span 05
              | Credits
          li.navigation__item
            a.logOut.navigation__link(href='#')
              span 
              | 🙋‍♂️ Logout
      else
        ul.navigation__list
          li.navigation__item
            a.navigation__link(href='/login')
              span 
              | 🧑‍💻 Login
          li.navigation__item
            a.navigation__link(href='/about-us')
              span 01
              | About Us
          li.navigation__item
            a.navigation__link(href='/csistaff')
              span 02
              | CSI staff
          li.navigation__item
            a.navigation__link(href='/MI')
              span 03
              | Members in charge
          li.navigation__item
            a.navigation__link(href='/motivation')
              span 04
              | Motivation
          li.navigation__item
            a.navigation__link(href='/credits')
              span 05
              | Credits
  header.header
    .header__logo-box
      img.header__logo(src='img/csi-logo.png' alt='Logo')
    .header__text-box
      h1.heading-primary
        span.heading-primary--main CSI GNDEC
        span.heading-primary--sub Coding Made Fun
      a.btn.btn--white.btn--animated(href='#section-tours') Jump to events
  .main
    section.section-about
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary
          | Exciting Tour of csi gndec
      .row
        .col-1-of-2
          h3.heading-tertiary.u-margin-bottom-small Exciting Events conducted time to time
          p.paragraph
            | We,at CSI try to conduct as many exciting events as we can to bring knowledge to you in an exciting manner.
            | Events are conducted under guidance of qualified judges and result are decided without being biased.
          h3.heading-tertiary.u-margin-bottom-small Indirect guide to develop your interests
          p.paragraph
            | Participating in events will let you know about different fields and eventually help you decide your stream in the future. 
          a.btn-text(href='#') Learn more &rarr;
        .col-1-of-2
          .composition
            img.composition__photo.composition__photo--p1(srcset='img/p1.jpg 300w, img/p1.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px' alt='Photo 1' src='img/p1.jpg')
            img.composition__photo.composition__photo--p2(srcset='img/p2.jpg 300w, img/p2.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px' alt='Photo 2' src='img/p2.jpg')
            img.composition__photo.composition__photo--p3(srcset='img/p3.jpg 300w, img/p3.jpg 1000w' sizes='(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px' alt='Photo 3' src='img/p3.jpg')
    section.section-features
      .row
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-world
            h3.heading-tertiary.u-margin-bottom-small Explore our society
            p.feature-box__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae mollitia exercitationem beatae rerum digniss
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-compass
            h3.heading-tertiary.u-margin-bottom-small Meet our team
            p.feature-box__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae mollitia exercitationem beatae rerum digniss
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-map
            h3.heading-tertiary.u-margin-bottom-small Find your interests
            p.feature-box__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae mollitia exercitationem beatae rerum digniss
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-heart
            h3.heading-tertiary.u-margin-bottom-small our alumnis
            p.feature-box__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae mollitia exercitationem beatae rerum digniss
    section#section-tours.section-tours
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary
          | our upcoming events
      .row
        -x=1
        each event in events
          .col-1-of-3
            .card
              .card__side.card__side--front
                .card__picture.div(class="card__picture--"+x)
                h4.card__heading
                  span.card__heading-span.div(class="card__heading-span--"+x)= event.name
                .card__details
                  ul
                    li= event.duration
                    li= event.team
                    li= event.StartDates
                    li= event.description
                    li Hover on the card to register!
              .card__side.card__side--back.div(class="card__side--back-"+x)
                .card__cta
                  .card__price-box
                    p.card__price-only  only  
                    p.card__price-value= event.price
                  a.btn.btn--white(href='#popup') Register Now!
          -x=x+1
      .u-center-text.u-margin-top-huge
        //a.btn.btn--green(href='#')
    section.section-stories
      .bg-video
        video.bg-video__content(autoplay='' muted='' loop='')
          source(src='img/Home_Work.mp4' type='video/mp4')
          source(src='img/home_Work.webm' type='video/webm')
          |                         Your browser is not supported!
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary
          | Words of wisdom by the experienced
      .row
        .story
          figure.story__shape
            img.story__img(src='img/mark-zuk.png' alt='Person on a tour')
            figcaption.story__caption Mark Zuckerberg
          .story__text
            h3.heading-tertiary.u-margin-bottom-small It is our generation's turn to do something big!
            p
              | "Ideas don't come out fully formed,they only become clear as you work on them.
              | The reality is,anything we do today is going to have issues in the future.But that can't stop us from getting started.
              | All great achievements are well within our reach.Let's do big things not just to create progress but to create purpose!"
      .row
        .story
          figure.story__shape
            img.story__img(src='img/ratan-tata.jpg' alt='Person on a tour')
            figcaption.story__caption Ratan Tata 
          .story__text
            h3.heading-tertiary.u-margin-bottom-small Have the guts to get to your dream!
            p
              | "There are a plethora of ideas out in the world but only a few have the courage to go ahead and execute it. 
              | If one strongly believes in his idea, he must also muster all the courage and not fear to put it into action.
              | Certainly, the world is full of great ideas, but success only comes through action.”
            
      .u-center-text.u-margin-top-huge
        //a.btn-text(href='#') Read all stories &rarr;
    section.section-book
      .row
        .book
          .book__form
            form.form(action='#')
              .u-margin-bottom-medium
                h2.heading-secondary
                  | Become a member! 
              .form__group
                input#name.form__input(type='text' placeholder='Full name' required='')
                label.form__label(for='name') Full name
              .form__group
                input#email.form__input(type='email' placeholder='Email address' required='')
                label.form__label(for='email') Email address
              .form__group
                input#password.form__input(type='password' placeholder='password' required='')
                label.form__label(for='password') Password
              .form__group
                input#password1.form__input(type='passwordConfirm' placeholder='Confirm Your Password' required='')
                label.form__label(for='passwordConfirm') Password Confirm    
              .form__group.u-margin-bottom-medium
              .form__group
                button.btn.btn--green Next step &rarr;
    #popup.popup
      .popup__content
        .popup__left
          img.popup__img(src='img/nat-8.jpg' alt='Tour photo')
          img.popup__img(src='img/nat-9.jpg' alt='Tour photo')
        .popup__right
          a.popup__close(href='#section-tours') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Start booking now
          h3.heading-tertiary.u-margin-bottom-small
            | Important &ndash; Please read these terms before booking
          p.popup__text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed sed
            | risus pretium quam. Aliquam sem et tortor consequat id. Volutpat
            | odio facilisis mauris sit amet massa vitae. Mi bibendum neque
            | egestas congue. Placerat orci nulla pellentesque dignissim enim sit.
            | Vitae semper quis lectus nulla at volutpat diam ut venenatis.
            | Malesuada pellentesque elit eget gravida cum sociis natoque
            | penatibus et. Proin fermentum leo vel orci porta non pulvinar neque
            | laoreet. Gravida neque convallis a cras semper. Molestie at
            | elementum eu facilisis sed odio morbi quis. Faucibus vitae aliquet
            | nec ullamcorper sit amet risus nullam eget. Nam libero justo laoreet
            | sit. Amet massa vitae tortor condimentum lacinia quis vel eros
            | donec. Sit amet facilisis magna etiam. Imperdiet sed euismod nisi
            | porta.
          a.btn.btn--green(href='https://docs.google.com/forms/d/e/1FAIpQLSeoZR6bDFji9sLhTBLrQecWd1A2-5-XM3b0Bgfsex5iCitXlA/viewform?usp=sf_link') Book now
    #popup-2.popup-2
      .popup-2__content
        .popup-2__left
          img.popup-2__img(src='img/devansh.jpeg' alt='Tour photo')
        .popup-2__right
          a.popup-2__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Devansh Bhushan
          h3.heading-tertiary.u-margin-bottom-small
            | Back-End Developer &ndash; Details about me
          p.popup-2__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 8556040271
            br
            |             Email_id &thicksim; devanshbhushan79@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/devansh-bhushan-679013169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/devanshbhushan1002/?hl=en' target="_blank") Instagram!
    
    #popup-1.popup-1
      .popup-1__content
        .popup-1__left
          img.popup-1__img(src='img/saini.jpeg' alt='Tour photo')
        .popup-1__right
          a.popup-1__close(href='#footer') &times;
          h2.heading-secondary.u-margin-bottom-small
            | Abhishek Saini
          h3.heading-tertiary.u-margin-bottom-small
            | Front-End Developer &ndash; Details about me
          p.popup-1__text
            | Student of D3/CSE 
            br
            |             Guru Nanak Dev Engineering College Ludhiana
            br
            |             Contact number &thicksim; 9780072442
            br
            |             Email_id &thicksim; abisheksainisaini56@gmail.com
          a.btn.btn--green(href='https://www.linkedin.com/in/abhishek-saini-6172b3169' target="_blank") Linked In!
          a.btn.btn--green(href='https://www.instagram.com/saini9946/?hl=en' target="_blank") Instagram!

    

   
